{% extends 'back/base.html' %}


{% block header %}
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span
                        class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#">YlsatCMS</a></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-haspopup="true" aria-expanded="false">当前用户：{{ username }}</a>
                    </li>
                    <li><a href="{{ url_for('back.logout') }}" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a>
                    </li>
                </ul>
                <form action="" method="post" class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" placeholder="键入关键字搜索"
                               maxlength="15">
                        <span class="input-group-btn">
              <button class="btn btn-default" type="submit">搜索</button>
              </span></div>
                </form>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

{% block menu %}
<aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="{{ url_for('back.index') }}">报告</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ url_for('back.article') }}">文章</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ url_for('back.category') }}">栏目</a></li>
    </ul>
</aside>
{% endblock %}
