{% extends 'back/base.html' %}

{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>人脸识别登录系统</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='back/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='back/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='back/css/login.css') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='back/images/icon/icon.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='back/images/icon/favicon.ico') }}">
    <script src="{{ url_for('static', filename='back/js/jquery-2.1.4.min.js') }}"></script>
</head>
{% endblock %}

{% block body %}
<div class="container">
    <div style="float: left">
        <div>
            <video id="video" height="200px;" width="200px;"></video>
        </div>
        <div>
            <canvas id="canvas" height="200px;" width="200px;"></canvas>
        </div>
    </div>
    <div class="siteIcon"><img src="{{ url_for('static', filename='back/images/icon/icon.png') }}" alt=""
                               data-toggle="tooltip" data-placement="top"
                               title="欢迎使用异清轩博客管理系统" draggable="false"/></div>
    <form action="" method="post" autocomplete="off" class="form-signin">
        <p><input type="hidden" id="face" name="face"></p>

        {{ error }}
        <h2 class="form-signin-heading">登录</h2>
        <label for="userName" class="sr-only">用户名</label>
        <input type="text" id="userName" name="username" class="form-control" placeholder="请输入用户名" required autofocus
               autocomplete="off" maxlength="10">
        <input type="button" value="开启摄像头" onclick="getMedia()">
        <input type="button" value="采集人脸信息" onclick="takePhoto()">

        <a href="#">
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit">登录</button>
        </a>
    </form>

</div>
<script src="{{ url_for('static', filename='back/js/bootstrap.min.js') }}"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip();
    window.oncontextmenu = function () {
        //return false;
    };
    $('.siteIcon img').click(function () {
        window.location.reload();
    });
    $('#signinSubmit').click(function () {
        if ($('#userName').val() === '') {
            $(this).text('用户名不能为空');
        } else if ($('#userPwd').val() === '') {
            $(this).text('密码不能为空');
        } else {
            $(this).text('请稍后...');
        }
    });
</script>
<script>
    function getMedia() {
        let constraints = {
            video: {width: 200, height: 200},
            audio: true
        };
        let video = document.getElementById("video");
        let promise = navigator.mediaDevices.getUserMedia(constraints);
        promise.then(function (MediaStream) {
            video.srcObject = MediaStream;
            video.play();
        });
    }

    function takePhoto() {
        let video = document.getElementById("video");
        let canvas = document.getElementById("canvas");
        let ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, 200, 200);
        var face = document.getElementById("face");
        var canvas1 = document.getElementById('canvas');
        face.value = canvas1.toDataURL('image/png')
    }
</script>
{% endblock %}