{% extends 'back/base.html' %}

{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>异清轩博客管理系统</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='back/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='back/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='back/css/login.css') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='back/images/icon/icon.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='back/images/icon/favicon.ico') }}">
    <script src="{{ url_for('static', filename='back/js/jquery-2.1.4.min.js') }}"></script>
</head>
{% endblock %}

{% block body %}
<div class="container">
    <div class="siteIcon"><img src="{{ url_for('static', filename='back/images/icon/icon.png') }}" alt=""
                               data-toggle="tooltip" data-placement="top"
                               title="欢迎使用异清轩博客管理系统" draggable="false"/></div>
    <form action="" method="post" autocomplete="off" class="form-signin">
        {{ error }}
        <h2 class="form-signin-heading">管理员登录</h2>
        <label for="userName" class="sr-only">用户名</label>
        <input type="text" id="userName" name="username" class="form-control" placeholder="请输入用户名" required autofocus
               autocomplete="off" maxlength="10">
        <label for="userPwd" class="sr-only">密码</label>
        <input type="password" id="userPwd" name="password" class="form-control" placeholder="请输入密码" required
               autocomplete="off" maxlength="18">
        <a href="main.html">
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit">登录</button>
        </a>
    </form>
    <div class="footer">
        <p><a href="{{ url_for('back.register') }}" data-toggle="tooltip" data-placement="left" title="愣着干嘛？还不赶紧注册一个!">还没有账号？</a></p>
    </div>
</div>
<script src="{{ url_for('static', filename='back/js/bootstrap.min.js') }}"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip();
    window.oncontextmenu = function () {
        //return false;
    };
    $('.siteIcon img').click(function () {
        window.location.reload();
    });
    $('#signinSubmit').click(function () {
        if ($('#userName').val() === '') {
            $(this).text('用户名不能为空');
        } else if ($('#userPwd').val() === '') {
            $(this).text('密码不能为空');
        } else {
            $(this).text('请稍后...');
        }
    });
</script>
{% endblock %}